.divi1{
    background-color: #51666f;
}

.divi2{
    background-color: #f7f7f7;
    width: 25%;
}
img{
    width: 400px;
}

#heja1{
    color: blue;
}

#heja2{
    color: red;
}

.divi3{

    background-color:#51666f
     ;
}